<h1>Listing pals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pals.each do |pal| %>
  <tr>
    <td><%= pal.name %></td>
    <td><%= pal.email %></td>
    <td><%= link_to 'Show', pal %></td>
    <td><%= link_to 'Edit', edit_pal_path(pal) %></td>
    <td><%= link_to 'Destroy', pal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pal', new_pal_path %>
